body,html{
    height: 100px
    margin: 0px;
  }
  
.box {
       background-image: url(../img/artuck.png);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;

}
